<h1>Pessoas Cadastradas</h1>
<div class="nome-container">
  {{#each nomes}}
    <section class="name">
      # {{this.id}} - <span class="bold">{{this.nome}}</span>  idade {{this.idade}}
    </section>
  {{/each}}
  <section class="bt_voltar">
    <a href="http://localhost:3000" class="voltar">Volte para a tela de cadastro!</a>
  </section>
</div>